/* src/styles/PokemonList.module.css */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  